*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Rubik', sans-serif;
}

.leaflet-container {
  height: 70vh;
  width: 100%;
  z-index: 0;
}

.tracker {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./images/pattern-bg.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.tracker > h1 {
  font-size: 22px;
  font-weight: 500;
}

.tracker__form > form {
  width: 480px;
  margin-top: 1em;
}

.tracker__form > form > input {
  width: 90%;
  padding: 1.2em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
  border: none;
}

.tracker__form > form > input::placeholder {
  font-size: 14px;
  color: hsl(0, 0%, 59%);
}

.tracker__form > form > button {
  padding: 1.2em;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0;
  background-color: #000;
  color: white;
  outline: none;
  border: none;
}

.wrapper {
  position: relative;
}

.userData {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  max-width: 75%;
  padding: 1em 1em;
  left: 0;
  right: 0;
  top: -25px;
  border-radius: 10px;
}

.userData__detail {
  padding: 1em;
  position: relative;
}

.userData__detail > .title {
  color: hsl(0, 0%, 59%);
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 0.5em;
}
